<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="node_modules/normalize.css/normalize.css" />
    <link rel="stylesheet" href="css/styles.min.css" />
    <link rel="stylesheet" href="../fonts/Gilroy-ExtraBold.woff2" />
    <link rel="stylesheet" href="../css/slick.css">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header__inner">
          <div class="header__inner--logo">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="46"
              height="57"
              viewBox="0 0 46 57"
              fill="none"
            >
              <path
                d="M26.8916 7.00269L38.9197 27.836H14.8634L26.8916 7.00269Z"
                fill="white"
              />
              <path
                d="M13.8916 29.0027L25.9197 49.836H1.86344L13.8916 29.0027Z"
                fill="white"
              />
              <path
                d="M38.9052 28.9621L26.7576 49.726L14.8493 28.824L38.9052 28.9621Z"
                fill="white"
              />
              <path
                d="M13.8916 27.7792L1.86145 6.94697L25.9177 6.94468L13.8916 27.7792Z"
                fill="#52FFE0"
              />
            </svg>
            <div class="header__inner--title">Qeeb</div>
          </div>
          <div class="header__inner--menu">
            <nav class="menu">
              <ul class="menu__list">
                <li class="menu__item">
                  <a href="">Explore</a>
                </li>
                <li class="menu__item">
                  <a href="">Collections</a>
                </li>
                <li class="menu__item">
                  <a href="">Creators</a>
                </li>
                <li class="menu__item">
                  <a href="">Blog</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="header__inner--btn">
            <button class="inner__btn" type="button">Connect Wallet</button>
          </div>
          <div class="burger">
            <span></span>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
